@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://aux4.iconspalace.com/uploads/874751241347963591.png"> <!-- Favicon -->
    <link rel="stylesheet" href="style.css">
    <title>Task Manager</title>
    <style>
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #242424;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#image-background {
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.window {
    background-color: white;
    z-index: 1;
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    border: 1px solid rgb(85, 85, 85);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.top-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
    height: 30px;
}

.window-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 5px 10px;
}

.window-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 30px;
}

#close-window {
    border: none;
}

.guides {
    display: flex;
    flex-direction: row;
}

.guide {
    background-color: inherit;
    border: none;
    padding: 5px 10px;
    border-right: 1px solid rgb(170, 170, 170, 0.500);
    border-bottom: 1px solid rgb(170, 170, 170, 0.500);
}

.content {
    display: flex;
    width: 100%;
    height: calc(100% - 65px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    overflow: scroll;
}

#details {
    display: none;
}

#table-details, #table-processes {
    position: relative;
    margin-left: 10px;
    table-layout: fixed;
}

#first-row-processes th {
    position: sticky;
    text-align: start;
    padding: 10px 15px 5px 0;
    top: 0;
    background-color: white;
}

#first-row-details th {
    position: sticky;
    text-align: start;
    padding: 10px 15px 5px 0;
    top: 0;
    background-color: white;
}

#apps {
    padding: 5px 0;
    color: rgb(73, 125, 194);
    font-size: 16px;
}

td {
    padding-right: 15px;
}

/* ----- Hovers ----- */

#close-window:hover {
    background-color: rgb(216, 27, 27);
}

.button:hover {
    background-color: #ffffff46;
    cursor: default;
}

.guide:hover {
    background-color: rgba(224, 224, 224, 0.808);
}

.close-popup:hover {
    opacity: 70%;
    cursor: pointer;
}

.confirm-popup:hover {
    opacity: 70%;
    cursor: pointer;
}
    </style>
</head>

<body onload="openProcesses()">
    <div class="background">
        <img id="image-background" src="https://i.pinimg.com/originals/87/9d/e4/879de4cf2f25847047e2ef7f5c957439.jpg"></img>

        <div class="window">
            <!-- Barra superior com botões de minimizar, maximizar e fechar a janela -->
            <div class="top-window">
                <div class="window-title">
                    <img src="https://aux.iconspalace.com/uploads/2495345442115675755.png" style="height: 20px; width: auto; margin-right: 7px;">
                    <p style="color: white; font-weight: 400;">Gerenciador de Tarefas</p>
                </div>
                <div class="window-buttons">
                    <p class="button" id="reload-window" style="font-size: 16px; color: rgb(73, 125, 194);" onclick="reload()"> ↺ </p>
                    <p class="button" id="minimize-window" style="font-size: 16px; color: white;">&#8212</p>
                    <p class="button" id="restore-window" style="font-size: 16px; color: white;">&#x25A2</p>
                    <p class="button" id="close-window" style="border-top-right-radius: 9px; color: white;" onclick="closeWindow()">
                        &#x2715</p>
                </div>
            </div>

            <!-- Guias de processos e detalhes -->
            <div class="guides">
                <input class="guide" id="open-process" type="button" value="Processos" onclick="openProcesses()">
                <input class="guide" id="open-detail" type="button" value="Detalhes" onclick="openDetails()">
                <div style="width: 100%; border-bottom: 1px solid rgb(170, 170, 170, 0.500)"></div>
            </div>

            <div class="content" id="processes">
                <nobr>
                    <table id="table-processes">
                        <tr id="first-row-processes">
                            <th>Nome</th>
                            <th>CPU</th>
                            <th>Memória Física</th>
                            <th>Memória Paginada</th>
                            <th>Threads</th>
                            <th>Tempo de uso da CPU</th>
                        </tr>

                        <!-- Aplicativos rodando -->
                        <tr>
                            <td id="apps">Processos Rodando (@ViewBag.QuantidadeProcessos)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
				        @foreach (var processos in ViewBag.Processos)
                        { 
                            <tr>
                                <td style="padding-left: 5px;">@processos.Nome</td>
                                <td style="text-align: right;">@processos.UtilizacaoTotalCPU %</td>
                                <td style="text-align: right;">@processos.MemoriaFisica</td>
                                <td style="text-align: right;">@processos.MemoriaPaginada</td>
                                <td style="text-align: center;">@processos.Threads</td>
					            <td style="text-align: center;">@processos.TempoTotalProcessador</td>
                            </tr>
                        }
                    </table>
                </nobr>
            </div>

            <div class="content" id="details">
                <nobr>
                    <table id="table-details">
                        <tr id="first-row-details">
                            <th>Nome</th>
                            <th>PID</th>
                            <th>Status</th>
                            <th>Nome de Usuário</th>
                            <th>Memória</th>
                            <th>Descrição</th>
                        </tr>
				        @foreach (var processos in ViewBag.Processos)
                        {                    
                            <tr>
                                <td>@processos.Nome</td>
                                <td>@processos.Id</td>
                                <td>@processos.Status</td>
                                <td>@processos.Usuario</td>
                                <td style="text-align: right;">@processos.MemoriaFisica</td>
                                <td style="margin-right: 0;">@processos.Descricao</td>
                            </tr>
                        }
                    </table>
                </nobr>
            </div>
        </div>
    </div>
</body>
<script>
function openProcesses() {
    document.getElementById("processes").style.display = "block";
    document.getElementById("details").style.display = "none";
    document.getElementById("open-process").style.borderBottom = "2px solid white";
    document.getElementById("open-detail").style.borderBottom = "1px solid rgb(170, 170, 170, 0.500)";
}

function openDetails() {
    document.getElementById("processes").style.display = "none";
    document.getElementById("details").style.display = "block";
    document.getElementById("open-detail").style.borderBottom = "2px solid white";
    document.getElementById("open-process").style.borderBottom = "1px solid rgb(170, 170, 170, 0.500)";
}

function closeWindow() {
    window.close();
}

function reload() {
    window.location.reload();
}

</script>

</html>