@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("images/favicon.png")"/> <!-- Favicon -->
    <title>Task Manager</title>
    <style>
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #242424;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.window {
    background-color: white;
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.top-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(170, 170, 170);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    height: 30px;
}

.window-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0 5px 10px;
}

.window-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 30px;
}

#close-window {
    border: none;
}

.guides {
    display: flex;
    flex-direction: row;
}

.guide {
    background-color: inherit;
    border: none;
    padding: 5px 10px;
    border-right: 1px solid rgba(170, 170, 170, 0.500);
    border-bottom: 1px solid rgb(170, 170, 170, 0.500);
}

.content {
    display: flex;
    width: 100%;
    height: calc(100% - 65px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    overflow: scroll;
}

#processes {
    display: block;
}

#details {
    display: none;
}

#table-details, #table-processes {
    position: relative;
    margin-left: 10px;
    table-layout: fixed;
}

th {
    position: sticky;
    text-align: start;
    padding: 0 15px 5px 0;
    top: 0;
    padding-top: 15px;
    background-color: white;
}

td {
    padding-right: 15px;
}

#first-row {
    background-color: white;
}

/* ----- Hovers ----- */

#close-window:hover {
    background-color: rgb(216, 27, 27);
}

.button:hover {
    background-color: #ffffff46;
    cursor: default;
}

.guide:hover {
    background-color: rgba(224, 224, 224, 0.808);
}

.close-popup:hover {
    opacity: 70%;
    cursor: pointer;
}

.confirm-popup:hover {
    opacity: 70%;
    cursor: pointer;
}
    </style>
</head>

<body onload="JavaScript:timedRefresh(5000);">
    <div class="background">
        <div class="window">
            <!-- Barra superior com botões de minimizar, maximizar e fechar a janela -->
            <div class="top-window">
                <div class="window-title">
                    <img src="./images/logo.png" style="height: 16px; width: auto; margin-right: 5px;">
                    <p>Gerenciador de Tarefas</p>
                </div>
                <div class="window-buttons">
                    <p class="button" id="minimize-window" style="font-size: 16px;">&#8212</p>
                    <p class="button" id="restore-window" style="font-size: 16px;">&#x25A2</p>
                    <p class="button" id="close-window" style="border-top-right-radius: 10px;" onclick="closeWindow()">
                        &#x2715</p>
                </div>
            </div>

            <!-- Guias de processos e detalhes -->
            <div class="guides">
                <input class="guide" id="open-process" type="button" value="Processos" onclick="openProcesses()">
                <input class="guide" id="open-detail" type="button" value="Detalhes" onclick="openDetails()">
            </div>

            <div class="content" id="processes">
                <nobr>
                    <table id="table-processes">
                        <tr id="first-row">
                            <th>Nome</th>
                            <th>CPU</th>
                            <th>Memória</th>
                            <th>Disco</th>
                            <th>GPU</th>
                        </tr>                        
                        @foreach (var processos in ViewBag.Processos)
                        { 
                            <tr>
                                <td>@processos.Nome</td>
                                <td>@processos.UtilizacaoTotalCpu</td>
                                <td>@processos.MemoriaFormatada</td>
                                <td>0.1 MB/s</td>
                                <td>12.7%</td>
                            </tr>
                        }                        
                        <div class="second-plan">

                        </div>
                    </table>
                </nobr>
            </div>

            <div class="content" id="details">
                <nobr>
                    <table id="table-details">
                        <tr id="first-row">
                            <th>Nome</th>
                            <th>PID</th>
                            <th>Status</th>
                            <th>Nome de Usuário</th>
                            <th>Memória</th>
                            <th>Descrição</th>
                        </tr>
                        @foreach (var processos in ViewBag.Processos)
                        {                    
                            <tr>
                                <td>@processos.Nome</td>
                                <td>@processos.Id</td>
                                <td>@processos.Status</td>
                                <td>@processos.Usuario</td>
                                <td style="text-align: right;">@processos.MemoriaFormatada</td>
                                <td style="margin-right: 0;">@processos.Descricao</td>
                            </tr>
                        }
                    </table>
                </nobr>
            </div>
        </div>
    </div>
</body>

<script>
    function openProcesses() {
    document.getElementById("processes").style.display = "block";
    document.getElementById("details").style.display = "none";
    document.getElementById("open-process").style.borderBottom = "2px solid white";
    document.getElementById("open-detail").style.borderBottom = "1px solid rgb(170, 170, 170, 0.500)";
}

function openDetails() {
    document.getElementById("processes").style.display = "none";
    document.getElementById("details").style.display = "block";
    document.getElementById("open-detail").style.borderBottom = "2px solid white";
    document.getElementById("open-process").style.borderBottom = "1px solid rgb(170, 170, 170, 0.500)";
}

function timedRefresh(timeoutPeriod) {
    setTimeout(function() {
        location.reload(true);
    }, timeoutPeriod);
}

</script>

</html>